body {
    
}


.container {
    text-align: center;
}

#iframe-mapa {
    margin: 0 auto 25px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}












footer span {
    font-size: 0.8em;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-titulo {
    font-size: 0.9em;
    font-weight: bolder;
}
