*{
    margin-left: 0;
    margin-right: 0;
}


#iframe-mapa iframe{
    border: none;
    
}


footer span {
    font-size: 0.8em;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-titulo {
    font-size: 0.9em;
    font-weight: bolder;
}
